
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
@font-face {font-family: font1;src: url(../font/Oswald/Oswald-Regular.ttf);}
@font-face {font-family: font1-light;src: url(../font/Oswald/Oswald-Light.ttf);}
@font-face {font-family: font2;src: url(../font/PT_Sans-Narrow-Web-Regular.ttf);}
.font1{font-family: font1;}
.font1-light{font-family: font1-light;}
.font2{font-family: font2;}
.height250{height: 250px;}
ul>li{list-style: none;}
/* width */::-webkit-scrollbar { width: 20px;}
/* Track */::-webkit-scrollbar-track {box-shadow: inset 0 0 5px #9F9595; border-radius: 2px;} 
/* Handle */::-webkit-scrollbar-thumb {background: #564F4F; border-radius: 5px;}
/* Handle on hover */::-webkit-scrollbar-thumb:hover {background: #383535; }
.fullWidth {width: 100%;margin-left: auto;margin-right: auto;max-width: initial!important;
}
.relative{position: relative;}
.absolute{position: absolute;}
.center{top: 50%;left:50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.text-center{text-align: center;}
.text-upp{text-transform: uppercase;}
.padding-0{padding: 0;}
.padding-10{padding: 10px;}
.padding-10-0{padding: 10px 0;}
.padding-15-0{padding: 15px 0;}
.padding-100-0-0{padding: 100px 0 0;}
.margin-0{margin: 0;}
.margin-20-0{margin: 20px 0px;}
.margin-30-auto{margin:30px auto;}
.size-15{font-size: 15px;}
.size-20{font-size: 20px;}
.size-25{font-size: 25px;}
.size-40{font-size: 40px;}
.flex-center{display: flex;justify-content: center;align-items: center;}
a:focus{color: #A6A2A2!important;}