body,span,div,h1,h2,h3,h4,h5,p{
	font-family: font1!important;
}
/*HEADER LINE */
.headline{
	position: relative;
    display: inline-block;
    border: 1px solid #252525;
    margin-bottom: 100px;
    color: #252525;
    font-family: font1;
    font-size: 35px;
    line-height: 20px;
    text-align: center;
}
.headline p {
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.headline p span {
    padding: 0 10px;
    background-color: #fff;
}
.headline h1 {
    padding: 10px 15px;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 53px;
    font-family: font1;
}
/* END HEADER LINE */

/*BACKGROUND*/
#background{
	position: relative;
}
.parallax {
    /* The image used */
    background-image: url("../img/bg_01.jpg");

    /* Set a specific height */
    min-height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.myName{
	position: relative;
    display: inline-block;
    border: 1px solid #FFFFFF;
    margin-bottom: 120px;
    color: #FFFFFF;
    font-family: font1;
    font-size: 2em;
    line-height: 20px;
    text-align: center;
}
.myName h1 {
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    line-height: 53px;
    color: #FFFFFF;
}
/*END BACKGROUND*/

/*HEADER*/
.headerFixed{
	position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    z-index: 10;
    height: 67px;
}
header{
	transition: .5s;
}
header ul>li{
	float: left;
	text-decoration: none;
	list-style-type: none;
}
header h3{
	padding: 15px;
	color: #FFFFFF;
	background: #383434;
	margin: 0;
	font-family: font1;
}
header ul>li>a{
	display: flex;
	color: #000;
	padding: 20px 25px;
    position: relative;
}
header ul>li:visited a{
	color: #383434;
}
header ul>li>a:before{
	position: absolute;
	z-index: 2;
	content: "";
	background-color: #252323;
	width: 0;
	height: 4px;
	bottom: 0;
	left: 0;
	transition: 0.3s;
}
header ul>li:hover>a::before{
	width: 100%;
}
header ul>li:hover>a{
	color: #000;
}
.nav{
  display: flex;
  justify-content: center;
  flex-direction: row;
  transition: .3s;
}
/*END HEADER*/

/*PERSIONAL DETAILS*/
#persionalDetails{
	position: relative;
}
#persionalDetails p{
	padding: 9px 0;
    border-bottom: 1px solid #e1e1e1;
    color: #252525;
    font-family: font2;
    margin: 0;
}
.avatar{
    background: url(../img/avt.jpg) no-repeat 86% 20%;
    width: 13rem;
    height: 16rem;
    background-size: cover;
    margin-left: 6px;
}
/*END PERSIONAL DETAILS*/


/* #Contact */
#contact{
	position: relative;
}
.parallax_overlay {
    /* The image used */
    background-image: url("../img/bg_02.jpg");

    /* Set a specific height */
    min-height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* end #Contact */

/* #softSkills */
#softSkill{
	position: relative;
}
.circle{
	height: 175px;
	width: 175px;
	border-radius: 50%;
	border: 5px solid #2A2929;
	margin: 10px auto;
	color: #4c4848;
}
.circle p{
	font-size: 25px;
}
ul.check{
	position: relative;
    top: -2px;
    width: auto;
    height: auto;
    margin-right: 10px;
    font-family: 'FontAwesome';
    font-size: 10px;
    font-style: normal;
}

ul.check li:before{
	content: "✤";
}
.title-skills{
	font-family: font2;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}
#specializedSkills h3{
}
#specializedSkills ul>li{
	font-family: font1-light;
}
ul.check li{
	font-size: 18px;
	padding: 15px;
}
.square{
	height: 137px;
	width: 137px;
	border: 5px solid #292626;
	color: #4c4848;
	margin: 10px auto;
}
/* end #softSkills */

/* #EXPERIENCE */
#experience .row{
	padding-bottom: 50px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 60px;
}
.title-exp{
	padding: 15px 0;
    font-family: 'font1', sans-serif;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
}
.title-exp h1{
	position: relative;
    padding-bottom: 14px;
    font-size: 28px;
}
.title-exp h1 span{
	position: relative;
	font-family: font1-light!important;
}
.title-exp h1 span small{
	position: absolute;
    top: -10px;
    left: 0;
    font: 12px 'PT Sans', sans-serif;
}
.title-exp h1:after{
	position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    border-bottom: 1px solid #e1e1e1;
    content: "";
}
.title-exp h3{
	font-family: font2!important;
    font-weight: 700;
    letter-spacing: 1px;
}
.title-exp p{
	margin-bottom: 5px;
	font-family: font1-light!important;
}
.content-exp{
	padding: 15px 0 5px 30px;
    border-left: 1px solid #e1e1e1;
    margin-top: -10px;
}
.content-exp p {
    font-family: font2!important;
    font-size: 18px;
}
/*end #EXPERIENCE */

/* #Contact */
#contact input{
	background: transparent!important;
    border-width: 0;
    margin: 5px auto;
    box-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
}
#contact textarea{
	background: transparent!important;
    border-width: 0;
    margin: 5px auto;
    box-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 30px 10px;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 400px;
	width: calc(100% - 2em);
	vertical-align: top;
	border: none;
	font-size: 20px;
}
.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: 'font1', sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
	letter-spacing: 1px;
}
/* Yoko */
.input__field--yoko {
	z-index: 10;
	width: 100%;
	background: transparent;
	color: #f5f5f5;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--yoko {
	position: relative;
	width: 100%;
	color: #F4EEEE;
	text-align: left;
}

.input__label--yoko::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 4em;
	background: rgba(0,0,0,.3);
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.input__label--yoko::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.25em;
	background: rgba(0,0,0,.3);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.textarea__label--yoko {
	position: relative;
	width: 100%;
	color: #F4EEEE;
	text-align: left;
}

.textarea__label--yoko::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 10em;
	background: rgba(0,0,0,.3);
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.textarea__label--yoko::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.25em;
	background: rgba(0,0,0,.3);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--yoko {
	padding: 0.75em 0;
}

.input__field--yoko:focus,
.input--filled .input__field--yoko {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--yoko:focus + .input__label--yoko::before,
.input--filled .input__label--yoko::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .input__label--yoko,
.input--filled .input__label--yoko {
	pointer-events: none;
}

.input__field--yoko:focus + .input__label--yoko::after,
.input--filled .input__label--yoko::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}




.input__field--yoko:focus + .textarea__label--yoko::before,
.input--filled .textarea__label--yoko::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .textarea__label--yoko,
.input--filled .textarea__label--yoko {
	pointer-events: none;
}

.input__field--yoko:focus + .textarea__label--yoko::after,
.input--filled .textarea__label--yoko::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}



.sub-button{
	position: relative;
	z-index: 2;
	line-height: 40px;
	overflow: hidden;
	display: inline-block;
	padding: 0 30px;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
	transition: .3s;
 	border-radius: 30px;
 	background: transparent;
 	font-family: font1;
 	font-weight: 500;
}
.sub-button::before{
  content: "";
  z-index: -1;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  transition: .5s;
}
.sub-button:hover{
  background-color: transparent;
  color: #3C3939;
  border: solid 2px #3C3939;
}
.sub-button:hover::before{
  width: 100%;
}
/* end #Contact */

/* #FOOTER */
footer{
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 40px 0;
    background-color: rgba(31, 26, 27, 0.7);
}
footer h3{
	font-size: 20px;
	color: #fff;
    font-family: font2;
}
.social{
	margin: 5px auto;
	padding-left: 12px;
}
a.social-icon{
	float: left;
    display: block;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: #252525;
    color: #fff;
    text-align: center;
}
a.social-icon i{
	font-size: 16px;
    line-height: 30px;
}
.social a:nth-child(1):hover{
	background-color: #0e59a0 !important;
	color: white;
}
.social a:nth-child(2):hover{
	background: #D54220 !important;
	color: white;

}
.social a:nth-child(3):hover{
	background: #018faf  !important;
	color: white;

}
/* end #FOOTER */


/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 42px;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}

.pre {
  	width: 60%;
  	-moz-animation: Presentation 2s ease;
  	-webkit-animation: Presentation 2s ease;
}
.itk {
  	width: 55%;
  	-moz-animation: itk 2s ease;
  	-webkit-animation: itk 2s ease;
}
.ctk {
  	width: 87%;
  	-moz-animation: ctk 2s ease;
  	-webkit-animation: ctk 2s ease;
}
.lea {
  	width: 85%;
  	-moz-animation: leader 2s ease;
  	-webkit-animation: leader 2s ease;
}
.html5 {
  	width: 80%;
  	-moz-animation: html5 2s ease;
  	-webkit-animation: html5 2s ease;
}
.jquery {
  	width: 50%;
  	-moz-animation: jquery 2s ease;
  	-webkit-animation: jquery 2s ease;
}

@-moz-keyframes Presentation {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-moz-keyframes itk {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-moz-keyframes ctk {
  0%   { width: 0px;  }
  100% { width: 87%;  }
}
@-moz-keyframes leader {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}
@-moz-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes jquery {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}

@-webkit-keyframes Presentation {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes itk {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-webkit-keyframes ctk {
  0%   { width: 0px;  }
  100% { width: 87%;  }
}
@-webkit-keyframes leader {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}
@-webkit-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes jquery {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}


/* ------------------------------------------------------------------- */
/* animate .home-content__main
 * ------------------------------------------------------------------- */

html.ss-preload .home-content__main {
    opacity: 0;
}

html.ss-loaded .home-content__main {
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

html.no-csstransitions .home-content__main {
    opacity: 1;
}



/* ===================================================================
 * preloader 
 * ------------------------------------------------------------------- */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F5F5F5;
    z-index: 800;
    height: 100%;
    width: 100%;
}

.no-js #preloader, .oldie #preloader {
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    background-color: #222323;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }
}


/* ------------------------------------------------------------------- 
 * ## home animations 
 * ------------------------------------------------------------------- */

/* bounce */

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translate3d(0, -30px, 0);
        -ms-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -4px, 0);
        -ms-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    0%, 100% {
        -webkit-transform: translate3d(0, -30px, 0);
        -ms-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -4px, 0);
        -ms-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}


/* fade in */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -150%, 0);
        -ms-transform: translate3d(0, -150%, 0);
        transform: translate3d(0, -150%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -150%, 0);
        -ms-transform: translate3d(0, -150%, 0);
        transform: translate3d(0, -150%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/* fade out */

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, -15%, 0);
        -ms-transform: translate3d(0, -15%, 0);
        transform: translate3d(0, -15%, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 15%, 0);
        -ms-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/* ------------------------------------------------------------------- 
 * ## home content - (_site-layout.scss) 
 * ------------------------------------------------------------------- */

.home-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    padding-bottom: 19.2rem;
    position: relative;
}

.home-content h3 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.8rem;
    color: #862121;
    text-transform: uppercase;
    letter-spacing: .5rem;
    position: relative;
    padding-left: 80px;
    margin-left: -30px;
    margin-bottom: .6rem;
}

.home-content h3::before {
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #862121;
    margin-top: -1.5px;
    position: absolute;
    left: 0;
    top: 50%;
}

.home-content h1 {
    font-family: "librebaskerville-bold", serif;
    color: #FFFFFF;
    font-size: 6rem;
    line-height: 1.35;
    margin-top: 0;
}

.home-content__main {
    padding-right: 300px;
    position: relative;
}

.home-content__buttons {
    position: absolute;
    right: 0;
    bottom: 2.1rem;
    text-align: center;
}

.home-content__buttons .btn {
    display: block;
    width: 210px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin: 1.5rem 0 0 0;
    letter-spacing: .25rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home-content__buttons .btn:hover, 
.home-content__buttons .btn:focus {
    background: #FFFFFF !important;
    color: #000000;
}

.home-content__scroll {
    position: absolute;
    left: .6rem;
    bottom: -13.2rem;
}

.home-content__scroll a {
    font-family: "montserrat-semibold", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #FFFFFF;
    position: relative;
    display: inline-block;
    line-height: 3rem;
    padding-right: 2rem;
}

.home-content__scroll a::after {
    border-bottom: 2px solid #922424;
    border-right: 2px solid #922424;
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    margin-top: -7px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

/* iPhone 5 ----------- */
@media only screen and (max-width: 736px) 
{
  .avatar{
    margin: 0 auto!important;
    width: 17rem;
    height: 17rem;
  }
  header div{
    padding: 0!important;
  }
  header ul{
    margin: 0!important;
  }
  header ul>li{
    width: 100%;
  }
  header h3{
    font-size: 15px;
    letter-spacing: .4px;
    padding-left: 2px;
  }
  header ul>li>a{
    flex-direction: column;
    text-align: center;
    font-size: 11.5px;
  }
  .nav-btn{
    cursor: pointer;
  }
  
  .nav-btn:hover,.nav-btn:focus{
    background-color:#0E0D0D;
  }
  
  .nav{
    opacity: 0;
    max-height: 0;
    transition: .4s;
    overflow: hidden;
  }
  .headerFixed{
    height: 341px;
  }
  /*
  header:hover .nav{
    height: 100%!important;
    opacity: 1!important;
    display: block;
  }
  */
/* Styles */
}
.show{
  max-height: 100%!important;
    opacity: 1!important;
    display: block;
}
